[ req ]
default_bits        = 2048
default_keyfile     = privkey.pem
distinguished_name  = req_distinguished_name
req_extensions      = v3_req  # Specifies the extensions section for requests
x509_extensions     = v3_ca   # Specifies the extensions for self-signed cert

[ req_distinguished_name ]
C = NL
ST = Noord Holland
L = Amsterdam
O = Cowdam
OU = cluster xyz
CN = codam.nl
emailAddress = admin@codam.nl

[ v3_ca ]
# Extensions for creating a self-signed certificate
basicConstraints = CA:TRUE
keyUsage = cRLSign, keyCertSign
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuerz