[mysqld]
symbolic-links=0
!includedir /etc/my.cnf.d
skip-networking=0
bind-address = 0.0.0.0
port=3306
wsrep_on=OFF
datadir=/maria/var/lib/mysql
socket=/maria/run/mysqld/mysqld.sock
log-error=/maria/logs/error.log
pid-file=/maria/run/mysqld/mysqld.pid