[mysqld]
symbolic-links=0
!includedir /etc/my.cnf.d
skip-networking=0
bind-address = 0.0.0.0
port=3306
wsrep_on=OFF
datadir = /var/lib/mysql
log_error = /var/lib/mysql/mariadb-error.log
ddl_log = /var/lib/mysql/ddl_recovery.log